* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x:hidden;
}

nav {
  width: 100%;
  height: 45px;
  background: ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  z-index: 5;
  height: 68px;
  width: 1440px;
  justify-content: flex-start;
  background-color: #FFF246;
  margin-top: -100px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 22px;
	font-family: "Century Gothic";
  font-weight: bold;
}

.more-nav {
  display: unset;
  padding-left: 102px;
}

.more-nav a {
  display: inline-block;
    padding-right: 30px;
}

.more {
  cursor: pointer;
}

.first {
  height: 50px;
}

.last {
  display: none;
}



main {
  /* background-color: #FFD9DA; */
  width: 1440px;
}


.right {
  padding-left: 20px;
  background-color: white;
  margin-top: 100px;
  padding-left: 3%;
  height: 680px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
  flex-direction: row;
}

.right h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: -418px;
  width: 362px;
  margin-top: 70px;
  line-height: 65px;
  background-color: #FFF246;
  text-align: center;
}

.right p {
  font-size: 35px;
  position: absolute;
  width: 547px;
  top: 267px;
  left: 144px;
  font-family: "Roboto";
  line-height: 45px;
}

.right img {
  width: 687px;
  height: 514px;
  margin-top: 50px;
  margin-left: 647px;
  box-shadow: 5px 5px 50px rgba(0,0,0,0.5);

}


.right-n {
  padding-left: 20px;
  background-color: white;
  margin-top: 100px;
  padding-left: 3%;
  height: 755px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
  flex-direction: row;
}

.right-n h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 353px;
  width: 508px;
  margin-top: 70px;
  line-height: 65px;
  background-color: #FFF246;
  text-align: center;
}

.right-n p {
  font-size: 35px;
  position: absolute;
  width: 547px;
  top: 1050px;
  left: 844px;
  font-family: "Roboto";
  line-height: 45px;
}

.right-n img {
  width: 480px;
  height: 644px;
  margin-top: 70px;
  margin-left: -700px;
  box-shadow: 5px 5px 50px rgba(0,0,0,0.5);

}

.right-ne {
  padding-left: 20px;
  background-color: white;
  margin-top: 100px;
  padding-left: 3%;
  height: 1100px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
  flex-direction: row;
}

.right-ne h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: -320px;
  width: 550px;
  margin-top: 70px;
  line-height: 65px;
  background-color: #FFF246;
  text-align: center;
}

.right-ne p {
  font-size: 35px;
  position: absolute;
  width: 547px;
  top: 1970px;
  left: 130px;
  font-family: "Roboto";
  line-height: 45px;
}

.right-ne img {
  width: 1300px;
  height: 950px;
  margin-top: 137px;
}

.left {
  padding-left: 20px;
  background-color: white;
  margin-top: 100px;
  padding-left: 3%;
  height: 949px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
  flex-direction: row;
}

.left h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: -289px;
  width: 600px;
  margin-top: 70px;
  line-height: 65px;
  background-color: #FFF246;
  text-align: center;
}

.left img {
  width: 1067px;
  height: 800px;
  margin-top: 137px;
}

.left-n {
  padding-left: 20px;
  background-color: white;
  margin-top: 10px;
  padding-left: 3%;
  height: 650px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
  flex-direction: row;
}

.left-n h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: -289px;
  width: 600px;
  margin-top: 70px;
  line-height: 65px;
  background-color: #FFF246;
  text-align: center;
}

.left-n img {
  width: 1067px;
  height: 418px;
  margin-top: 137px;
}

.left-ne {
  padding-left: 20px;
  background-color: white;
  margin-top: 10px;
  padding-left: 3%;
  height: 1300px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
  flex-direction: row;
}

.left-ne h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: -289px;
  width: 600px;
  margin-top: 70px;
  line-height: 65px;
  background-color: #FFF246;
  text-align: center;
}

.left-ne img  {
  width: 1440px;
  height: 930px;
  margin-right: 48px;
  margin-top: 300px;
  box-shadow: 5px 5px 50px rgba(0,0,0,0.5);
}

.firmach {
  margin-left: 20px;
  height: 900px;

}

.firmach img {
  width: 700px;
  margin-right: 5px;
  box-shadow: 5px 5px 50px rgba(0,0,0,0.5);
}

.portfolio {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 40px;
  margin-top: -120px;
  color: black;
}


footer {
  background-color: #FFF246;
  height: 150px;
  width: 1440px;
  display: flex;
  align-items: center;
  margin-top: -5px;
  justify-content: space-between;
  padding: 0 5%;
}

footer p {
  font-size: 20px;
  font-family: "Roboto";
}

footer .art {
  width: 200px;
}

@media (max-width: 1024px)  {

  .last {
    display: none;
  }

  .right {
    height: 380px;
  }

  .right h1 {
    margin-left: -501px;
  }

  .right p {
    left: 61px;
    font-size: 23px;
    width: 410px;
    line-height: 36px;
  }

  .right img {
    width: 427px;
    height: 317px;
    margin-left: 13px;
    margin-top: 71px;
  }

  .right-n img {
    width: 300px;
    height: 444px;
    margin-left: -957px;
    margin-top: 71px;
  }

  .right-n h1 {
    width: 384px;
    margin-left: 5px;
  }

  .right-n p {
    left: 556px;
    font-size: 23px;
    width: 406px;
    top: 750px;
    line-height: 36px;
  }

  .right-ne {
    height: 500px;
    margin-top: -160px;
  }

  .right-ne h1 {
    width: 527px;
    margin-left: -418px;;
  }

  .right-ne p {
    left: 61px;
    font-size: 23px;
    width: 405px;
    margin-top: -250px;
    line-height: 36px;
  }

  .right-ne img {
    width: 576px;
    height: 444px;
    margin-left: -500px;
    margin-top: 160px;
  }

  .left {
    height: 749px;
  }

  .left h1 {
    margin-left: -384px;
  }

  .left img {
    width: 969px;
    height: 665px;
    margin-top: 103px;
    margin-left: -476px;
  }

  .left-n  {
    height: 500px;

  }

  .left-n h1 {
    margin-left: -384px;
  }

  .left-n img {
    width: 975px;
    height: 314px;
    margin-top: 137px;
    margin-left: -475px;
  }

  .left-ne {
    height: 1100px;
  }

  .left-ne h1 {
    margin-left: -384px;
  }

  .left-ne img{
    width: 1024px;
    height: 700px;
    margin-left: -440px;
  }

  .firmach {
    height: 700px;
  }

  .firmach img {
    width: 480px;
  }



  footer p {
    font-size: 10px;
  }

  footer {
    width: 1024px;
  }
}

@media (max-width: 768px)  {

    .last {
      display: block;
      width: 30px;
      margin-left: 620px;
    }

    nav {
      height: 50px;
    }

    .right {
      height: 405px;
    }


    .right h1 {
      width: 200px;
      font-size: 35px;
      margin-top: 20px;
      margin-left: -582px;
    }

    .right p {
      width: 350px;
      margin-top: -57px;
      line-height: 36px;
    }

    .right img {
      width: 297px;
      height: 227px;
      margin-left: -340px;
      margin-top: 19px;
    }

    .right-n {
      margin-top: 21px;
      height: 664px;
    }

    .right-n img {
      width: 239px;
      height: 304px;
      margin-left: -1143px;
      margin-top: 73px;
    }

    .right-n h1 {
      font-size: 35px;
      width: 338px;
      margin-left: -202px;
    }

    .right-n p {
      left: 372px;
      top: 690px;
      width: 350px;
      line-height: 36px;
    }

    .right-ne {
      margin-top: -160px;
    }

    .right-ne h1 {
      font-size: 35px;
      width: 365px;
      margin-left: -504px;;
    }

    .right-ne p {
      left: 61px;
      width: 334px;
      margin-top: -761px;
    }

    .right-ne img {
      width: 533px;
      height: 399px;
      margin-left: -729px;
      }

      .left {
        height: 549px;
      }

      .left h1 {
        font-size: 35px;
        width: 400px;
        margin-left: -489px;
      }

      .left img {
        width: 737px;
        height: 465px;
        margin-top: 103px;
        margin-left: -720px;
      }

      .left-n  {
        height: 350px;

      }

      .left-n h1 {
        font-size: 35px;
        width: 400px;
        margin-left: -489px;
      }

      .left-n img {
        width: 675px;
        height: 214px;
        margin-top: 137px;
        margin-left: -741px;
      }

      .left-ne {
        height: 800px;
      }

      .left-ne h1 {
        font-size: 35px;
        width: 405px;
        margin-left: -489px;
        line-height: 45px;
      }

      .left-ne img{
        width: 768px;
        height: 530px;
        margin-top: 220px;
        margin-left: -672px;
      }

      .firmach {
        height: 500px;
      }

      .firmach img {
        width: 352px;
      }

      .portfolio {
        font-size: 20px;
      }

    footer {
     height: 60px;
     width: 768px;
    }

    footer .art {
     width: 104px;
   }

  }




}
